.form-modal-edit-user {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 67rem;
}

.header-modal {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-modal {
    font-family: var(--primary-font);
    font-size: 3.4rem;
    font-weight: 700;

    color: #000;
}

.header-modal img {
    cursor: pointer;
}

.container-inputs-modal {
    display: flex;
    flex-direction: column;
    gap: 2.6rem;
}

.container-input-modal {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.container-input-modal label {
    font-family: var(--primary-font);
    font-size: 2.2rem;
    font-weight: 500;

    color: #484848;
}

.container-input-modal input {
    width: 48.5rem;
    height: 6.3rem;
    padding: 0.8rem;

    font-family: var(--primary-font);
    font-size: 1.8rem;
    font-weight: 400;

    color: #484848;
    background: #fff;
    border: 1px solid #555;
    border-radius: 5px;
}

.btn-redirect {
    align-self: center;
}

@media (max-width: 620px) {
    .form-modal-edit-user,
    .container-input-modal .input-user {
        width: 80vw;
    }
}

@media (max-width: 415px) {
    .header-modal h3 {
        font-size: 2.4rem;
    }

    .container-input-modal .label-user {
        font-size: 1.8rem;
    }
}
