.form-modal-edit-user {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 670px;
}

.header-modal {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-modal {
    font-family: var(--primary-font);
    font-size: 34px;
    font-weight: 700;

    color: #000;
}

.header-modal img {
    cursor: pointer;
}

.container-inputs-modal {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.container-input-modal {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.container-input-modal label {
    font-family: var(--primary-font);
    font-size: 22px;
    font-weight: 500;

    color: #484848;
}

.container-input-modal input {
    width: 485px;
    height: 63px;
    padding: 8px;

    font-family: var(--primary-font);
    font-size: 18px;
    font-weight: 400;

    color: #484848;
    background: #fff;
    border: 1px solid #555;
    border-radius: 5px;
}

.btn-redirect {
    align-self: center;
}
