.main-table {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 96.4rem;
    max-height: 50rem;

    font-family: var(--secondary-font);
}

.head-main-table {
    padding: 0.5rem;
}

.head-main-table tr {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 5.8rem;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 0 3rem;

    color: #000;
    background: #fafafa;
    box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.container-body-table {
    display: block;
    overflow-y: auto;

    height: 43rem;
}

.smaller-table {
    height: 22rem;
}

@media (max-width: 1360px) {
    .main-table {
        width: 80vw;
    }

    .head-main-table {
        white-space: nowrap;
    }

    .head-main-table tr {
        padding: 0 2rem;
    }

    .container-body-table {
        height: 30rem;
    }

    .smaller-table {
        height: 15rem;
    }
}

@media (max-width: 980px) {
    .container-body-table {
        overflow-x: auto;
    }

    .smaller-table {
        height: 15rem;
    }
}
