.container-menu {
    display: flex;
    flex-direction: column;

    align-items: center;
    z-index: 2;

    width: 30rem;
    height: 23rem;
    position: absolute;
    top: 9.8rem;
    right: 8vw;

    font-family: var(--primary-font);
    color: #2f2f2f;

    background-color: #fafafa;
    box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.options-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options-menu li {
    padding: 2rem;
    list-style: none;
    text-align: center;
    border-radius: 1rem;
}

.user-name-menu {
    width: 28rem;
    margin: 1.5rem 0 1rem 0;

    font-size: 16px;
    font-weight: 700;

    border-bottom: 1px solid #eaeaea;
}

.menu-option {
    width: 30rem;

    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.menu-option:hover {
    background-color: rgba(61, 61, 61, 0.3);
}

@media (min-width: 631px) {
    .container-menu {
        display: none;
    }
}

@media (max-width: 430px) {
    .container-menu {
        width: 100vw;
        right: 0rem;
    }

    .user-name-menu {
        width: 92vw;
    }

    .menu-option {
        width: 100vw;
    }
}
