* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    --primary-font: 'Rubik', sans-serif;
    --secondary-font: 'Lato', sans-serif;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}
