.container-form-login,
.container-form-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 51.3rem;
    padding: 0 3.5rem;

    background-color: #fff;
}

.container-form-login {
    height: 53.5rem;
}

.container-form-register {
    height: 78.1rem;
}

.title-form {
    font-family: var(--primary-font);
    font-size: 2.8rem;
    font-weight: 500;

    color: var(--primary-color-lilac);
}

.inputs-login-content,
.inputs-register-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;

    width: 100%;
}

.inputs-login-content {
    height: 22rem;
}

.container-input {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    max-width: 100%;
}

.container-input label,
.container-input input {
    font-family: var(--primary-font);
    font-size: 1.8rem;
    font-weight: 400;

    color: #484848;
}

.container-input input {
    max-width: 100%;
    height: 6.3rem;
    padding: 0.8rem;

    background: #fff;
    border: 1px solid #555;
    border-radius: 5px;
}

@media (max-width: 980px) {
    .container-form-login {
        align-items: center;
        width: 50%;
    }
}

@media (max-width: 815px) {
    .container-form-login {
        width: 80%;
    }
}

@media (max-width: 580px) {
    .container-form-login,
    .container-form-register {
        align-items: center;
        width: 100%;
    }

    .inputs-login-content,
    .inputs-register-content {
        width: 100%;
    }

    .container-input {
        width: 100%;
    }

    .container-input input {
        width: 100%;
    }
}

@media (max-width: 415px) {
    .container-form-login {
        height: 85vh;
        border-radius: 0;
    }
}
