.body-main-table {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 7rem;
    padding: 0 3rem;

    text-align: center;

    border-bottom: 1px solid #e0e0e0;
}

.date-head img {
    margin: 0px 0px 1px 1px;

    cursor: pointer;
}

.date-table,
.amount-table {
    font-size: 1.4rem;
    font-weight: 700;
}

.date-table {
    color: #000;
}

.withdrawal-value {
    color: #fa8c10;
}

.deposit-value {
    color: #7b61ff;
}

.col1 {
    text-align: left;
    width: 10rem;
}

.col2 {
    width: 17rem;
}

.col3 {
    width: 25rem;
}

.col4 {
    width: 15rem;
}

.col5 {
    width: 13rem;
}

.col6 {
    width: 9rem;
    position: relative;
}

.container-edit-delete {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.container-edit-delete img {
    cursor: pointer;
}

.container-body-table::-webkit-scrollbar {
    height: 0.6rem;
    width: 0.6rem;
}
.container-body-table::-webkit-scrollbar-track {
    margin-top: 0.5rem;

    background: #f3f3f3;
    border-radius: 20px;
}

.container-body-table::-webkit-scrollbar-thumb {
    background-color: rgba(121, 120, 217, 0.2);
    border-radius: 20px;
    border: 1px solid #f3f3f3;
}

.container-body-table {
    scrollbar-color: #f3f3f3;
}

@media (max-width: 1360px) {
    .body-main-table {
        white-space: nowrap;
    }

    .col1,
    .col2,
    .col3,
    .col4,
    .col5,
    .col6 {
        padding-right: 2.5rem;
    }
}
