.body-main-table {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 7rem;
    padding: 0 3rem;

    text-align: center;

    border-bottom: 1px solid #e0e0e0;
}

.date-head img {
    margin: 0 0 0.1rem 0.1rem;

    cursor: pointer;
}

.date-table,
.amount-table {
    font-size: 1.4rem;
    font-weight: 700;
}

.date-table {
    color: #000;
}

.withdrawal-value {
    color: #fa8c10;
}

.deposit-value {
    color: #7b61ff;
}

.col1 {
    text-align: left;
    width: 10rem;
}

.col2 {
    width: 17rem;
}

.col3 {
    width: 25rem;
}

.col4 {
    width: 15rem;
}

.col5 {
    width: 13rem;
}

.col6 {
    width: 9rem;
    position: relative;
}

.container-edit-delete {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.container-edit-delete img {
    cursor: pointer;
}

.no-content {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: calc(10rem + 17rem + 25rem + 15rem + 13rem + 9rem);
    height: 7rem;

    font-family: var(--secondary-font);
    font-size: 1.4rem;
}

@media (max-width: 1360px) {
    .body-main-table {
        white-space: nowrap;
    }
}

@media (max-width: 1046px) {
    .no-content {
        justify-content: flex-start;
        margin-left: calc(50vw - 4.5rem);
    }
}
