.container-home {
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;
}

.container-content-home {
    display: flex;
    justify-content: center;

    width: 100%;
    height: calc(100vh - 22.4rem + 10.5rem);
    margin-top: -8rem;

    background-color: #fff;
    border-radius: 60px 60px 0px 0px;
}

.content-home {
    display: flex;
    align-items: start;
    justify-content: space-around;

    width: 90%;
    min-height: 30rem;
    margin-top: 7rem;
}

.left-side-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2.6rem;

    margin-right: 2rem;
}

.right-side-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    margin-top: 5.6rem;
}

@media (max-width: 1360px) {
    .content-home {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        margin: 4rem 0 0 5rem;
    }

    .left-side-main {
        gap: 1.6rem;
    }

    .right-side-main {
        align-items: flex-start;
        flex-direction: row-reverse;
        margin-top: 2.4rem;
    }
}

@media (max-width: 615px) {
    .content-home {
        width: 100vw;
        margin-left: 10vw;
    }

    .right-side-main {
        width: 80vw;
    }
}

@media (max-width: 530px) {
    .content-home {
        width: 100vw;
        margin-left: 4vw;
    }

    .left-side-main {
        width: 92vw;
    }

    .right-side-main {
        flex-direction: column-reverse;
        width: 92vw;
        margin-top: 1.4rem;
    }
}

@media (max-width: 390px) {
    .content-home {
        width: 100vw;
        margin-left: 2.5vw;
    }

    .left-side-main {
        width: 95%;
    }

    .right-side-main {
        width: 95vw;
    }
}
