.container-summary-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 236px;
    height: 19.6rem;

    border-radius: 10px;
    background: #fafafa;
    box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.1);
}

.content-summary {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 17.5rem;
    height: 19.6rem;

    font-family: var(--primary-font);
}

.title-summary-table {
    font-size: 18px;
    font-weight: 700;

    color: #2f2f2f;
}

.summary-table {
    display: flex;
    flex-direction: column;
    width: 175px;
}

.summary-table tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.default-row {
    color: #2f2f2f;
    font-size: 13px;
    font-weight: 500;
}

.row {
    height: 25px;
}

.deposit-summary {
    text-align: right;
    font-size: 13px;
    font-weight: 500;

    color: #645ffb;
}

.withdrawal-summary {
    text-align: right;
    font-size: 13px;
    font-weight: 500;

    color: #fa8c10;
}

.line {
    height: 1px;
    margin: 12px 0;

    background-color: #eaeaea;
}

.balance-summary {
    font-size: 14px;
    font-weight: 700;

    color: #2f2f2f;
}

.final-balance {
    text-align: right;
    font-size: 14px;
    font-weight: 500;

    color: #3a9ff1;
}

@media (max-width: 530px) {
    .container-summary-table {
        height: 16.5rem;
    }

    .content-summary {
        justify-content: space-between;
        margin: 1.6rem 0;
    }

    .default-row {
        font-size: 14px;
    }
}

@media (max-width: 430px) {
    .container-summary-table {
        width: 90vw;
    }

    .content-summary {
        width: 85%;
    }

    .summary-table {
        width: 100%;
    }

    .row {
        width: 100%;
    }
}

@media (max-width: 390px) {
    .container-summary-table {
        width: 95vw;
    }

    .content-summary {
        width: 90%;
    }
}
